<nav class="main-nav"> 
    <ul>
        {% assign pages_list = site.pages | sort: 'order' %}
        {% for page in pages_list %}
        {% if page.url != '/feed.xml' and page.url != '/' %} 
        
        <li>
            <a href="{{ page.url }}">{{ page.title }}
            <!-- <span class="title">{{ page.title }}</span> -->
            <span class="date">{{ page.date | date_to_string }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        
    </ul>
</nav>