

@import url('typography.css');
@import url('navigation.css');

@import url('site-header.css');
@import url('site-footer.css');

:root{
    --color-main-bgrd: rgb(201, 187, 207);
    --color-main-text: #FFF;
    --color-main-link: rgb(0, 4, 255);
}

body{
    background: var(--color-main-bgrd);
    padding: 2rem 3rem;
}
.site-content{
    padding: 2rem 0;
}


